.banner-text-container{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../../images/banner-image/banner-2.jpg');
}

.banner-text{
    width: 60%;
}
.banner-text h3{
    margin-top: 10%;
}
.banner-text ul{
    list-style: none;
    margin-top: 5%;
    font-size: larger;
}

.banner-appointment-btn{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg,orange,rgb(240, 158, 172));
}
.banner-appointment-btn:hover{
    background-image: linear-gradient(45deg,rgb(228, 128, 145),orange);
    color: blue;
}


.internship-content{
    background-image: url('../../images/internship-background/internship-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.internship-content ul{
    list-style: none;
}

.intern-apply-btn{
    background-color: skyblue;
}
.intern-apply-btn:hover{
    background-color: rgb(66, 157, 241);
    color: white;
}
